<% provide(:title, 'Vendor Catalog Contact Us')%>

<div class="center hero-unit">
<h3> ClickFuel Vendor Catalog</h1>

  
  <ul id="contact-us">
    <li>ClickFuel </li>
    <li>781-587-2989</li>
    <li>mailto: suppor@clickfuel.com</li>
  </ul>
<br>
<br>
  <%= link_to "Sign  up now!", '/users/new',class: "btn btn-large btn-primary" %>
</div>
<% link_to image_tag("ClickFuel logo.png", alt: "ClickFuel"), 'http://www.clickfuel.com'%>
