<% provide(:title, 'Vendor Catalog Help') %>

<h1>ClickFuel Vendor Catalog Help</h1>
<p>
To get help using the ClickFuel Vendor Catalog email <address><a href="mailto:klundin@clickfuel.com">ClickFuel Support</a> </address>>  
</p>
