<% provide(:title, 'Vendor Catalog Help')%>

<div class="center hero-unit">
<h3> ClickFuel Vendor Catalog Help</h3>
<h4> Frequently Asked Questions</h4>

  <ul id="faq">
    <li>How do I add a new company to the catalog?</li>
    <li>Does membership in the catalog cost anything?</li>
    <li>How do I get reviews?</li>
    <li>Do I have to be a ClickFuel partner to be listed?</li>
    <li>If I disagree with a review someone posted, who should I contact?</li>
  </ul>
<br>
<br>
  <%= link_to "Sign  up now!", '/users/new',class: "btn btn-large btn-primary" %>
</div>
