<% provide(:title, 'Vendor Catalog Home')%>

<h1> ClickFuel Vendor Catalog</h1>
  <p>
  This is where you will login to create your ClickFuel Vendor profile and add reviews to vendors with whom you are familiar
  <br><a href="http://www.clickfuel.com"> ClickFuel</a>
</p>
